

/* style date span for stock cards */
.firstRow{
    padding-top: 1rem;
}

.negative{
    color: red;
}

.positive{
    color: green
}

.ticker-img-div{
    display: flex;
}

.stockImage {
    max-width: 75%;
    max-height: 75%;
}

.tickerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-text {
    font-size: 2rem !important;
}
.card-title {
    font-size: 2rem;
}

.weatherIcon {
    border: 1px solid rgba(0,0,0,.125);
}

.imageRow {
    display: flex;
}

.funky{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.weatherData {
    color: black;
    font-size: 1rem;
}

.weatherDatField {
    padding: 0;
    max-height: 1.25rem;
}

.weatherRow {
    margin: 0;
}